


img{
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

.uppercase{
    text-transform: uppercase;
}


/* -------------Header----------------- */

/* -------------Desktop Header----------------- */
.header-desktop{
    height: 200px; 
}

.greek-flag{
    background: url(assets/images/greek-flag.png);
}

.corfu-flag{
    background: url(assets/images/corfu-flag.png);
}

.greek-flag,
.corfu-flag {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 180px;
    margin: auto;
    display: block;
    margin-top: 40px;
}

.logo-desktop{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
}

.nav{
    margin-top: 20px;
    justify-content: center;

}

/* -------------Mobile Header----------------- */

.logo-mobile{
    margin-left: 15%;
    float: left;
    display: block;
    height: 100px;
    width: 100px;
}

.nav-mobile{
    float: left;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-menu{
    left: -50px;
}


/* -------------Hero and Into----------------- */


/* -------------Why Visit----------------- */


/* -------------Check out----------------- */

.link-offset-1.5{
    margin-left: 12.5%;
}

/* -------------Footer----------------- */

.footer-style-container {
    text-align: center;
    padding: 5px;
}

.footer-style-container i{
    display: block;
    text-align: center;
}

.footer-style-container a{
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    
}

.footer-style-container .footer-travel-links{
    display: block;
}





/* -------------Media Queries----------------- */


@media screen and (min-width: 0px) and (max-width: 767px){
    .header-desktop-container{
        display: none;
    }
}

@media screen and (min-width: 768px){
    .header-mobile-container{
        display: none;
    }
}