@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500,600,700&family=Roboto+Slab&display=swap');

img{
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

.uppercase{
    text-transform: uppercase;
}

.headline-banner{
    display: table;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 80px;
}

.headline-banner h3{
    display: table-cell;
    vertical-align: middle;
    font-weight: 600;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'exo 2', sans-serif;
}

p {
    font-family: 'Roboto Slab', serif;
}



/* -------------Hover CSS----------------- */

 .hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: #bfbfbf;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #738be9;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: #b8b8b8;
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

/* -------------Colors----------------- */

body {
    background-color: #dadada;
}

h3 {
    color:#000000;
}

.bg-color-header {
    background-color: #bfbfbf;
}

.bg-color-banner-intro{
    background-image: radial-gradient(#f62459, #dadada );
}

.banner .bg-color-banner-easter{
    background-image: radial-gradient(#e000e0, #dadada );
}

.banner .bg-color-banner-places{
    background-image: radial-gradient(#00aa00, #dadada );
}

.banner .bg-color-banner-summer{
    background-image: radial-gradient(#ff4500, #dadada );
}

.banner .bg-color-banner-contact{
    background-image: radial-gradient(#ffd700, #dadada );
}

.bg-color-why-visit {
    background-color: white;
}

.bg-color-banner-easter {
    background-color: #e000e0;
}

.bg-color-banner-places {
    background-color: #00aa00;
    
}

.bg-color-banner-summer {
    background-color: #ff4500;  
}

.bg-color-banner-contact {
    background-color: #ffd700;  
}

.bg-color-footer {
    background-color: #bfbfbf;
}

.bg-color-footer a{
    color: #0000e0;
}

.btn-color-contact-us {
    background-color: #ffd700;
    color: #000000;
}

/* -------------Dealing with Hover Colors----------------- */

.nav-pills .nav-link:hover, .nav-pills .nav-link:focus {
    background-color: #bfbfbf;
    border: none;
}

.nav-color-home .nav-link.active{
    background-color: #738be9;
    border: none;
}

.nav-color-easter .nav-link.active{
    background-color: #738be9;
    border: none;
}

.nav-color-places .nav-link.active{
    background-color: #738be9;
    border: none;
}

.nav-color-summer .nav-link.active{
    background-color: #738be9;
    border: none;
}

.nav-color-contact .nav-link.active{
    background-color: #738be9;
    border: none;
}




/* -------------Header----------------- */

.nav {
    font-family: 'Exo 2', sans-serif;
    
}

.navbar .nav-link {
    font-size: 16px;
    color: #000000;
}

.navbar .nav-link.active{
    font-size: 16px;
    color: #000000;
}

/* -------------Desktop Header----------------- */
.header-desktop{
    height: 200px; 
}

.greek-flag{
    background: url(../images/greek-flag.png);
}

.corfu-flag{
    background: url(../images/corfu-flag.png);
}

.greek-flag,
.corfu-flag {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 180px;
    margin: auto;
    display: block;
    margin-top: 40px;
}

.logo-desktop{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
}

.nav{
    justify-content: center;
    height: 50px;
    width: 100%;
}

.navbar {
    padding: 0;
}

/* -------------Mobile Header----------------- */

.logo-mobile{
    margin-left: 15%;
    float: left;
    display: block;
    height: 100px;
    width: 100px;
}

.nav-mobile{
    float: left;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-menu{
    left: -50px;
}

.nav-mobile{
    margin-top: 20px;
}

/* ------------------------------------------Intro Page-------------------------------------- */

/* -------------Hero and Into----------------- */

.hero-container{
    padding: 0;
}

.jumbotron {
    text-align: center;
}

.jumbotron h1 {
    margin-bottom: 25px;
    font-size: 35px;
    font-weight: 700;
}

.jumbotron p{
    margin: auto;
    max-width: 75%;
    font-size: 16px;
    margin-bottom: 15px;
}
/* -------------Why Visit----------------- */

.list-why-visit{
    text-align: center;
}

.list-why-visit li{
    margin: 10px 0 15px 0;
}

.margin-why-visit {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 20px;
}

.margin-why-visit li{
    padding-bottom: 20px;
}


/* -------------Check out----------------- */

.link-banner {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    color: white;
}

.size-image-link{
    display: inline-block;
    float: left;
    width: 100%;
    height: 220px;
    background-size: cover;
}

.grow-image-link {
    transition: all 0.3s ease;
}

.grow-image-link:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

/* ------------------------------------------Easter/Summer/Places Pages General-------------------------------------- */

/* -------------Info & Pictures----------------- */


/* -------------Contact us info----------------- */

.style-contact-info {
    margin-bottom: 30px;
    text-align: center;
}

.style-contact-info p{
    font-size: 16px;
    color: #000000;
    max-width: 80%;
    margin: auto;
}

.style-contact-info h3 {
    color:#000000;
}

.style-contact-info a {
    font-size: 18px;
    font-family: 'exo 2', sans-serif;
    border: 2px;
    border-style: solid;
    border-radius: 10%;
}

/* ------------------------------------------Easter Page-------------------------------------- */

.table {
    margin-bottom: 30px;
}

.table thead th{
    border-color: #e000e0;
    border-top: none;
}

.table th {
    border-color: #e000e0;
}

.table td {
    border-color: #e000e0;
    color: #000000;
}

.table tr span {
    display: block;
}

/* ------------------------------------------Contact Us Page-------------------------------------- */

.form-size-style{
    max-width: 700px;
    margin: auto;
    font-family: 'roboto slab', sans-serif;
    color:#000000;
}

.form-size-style .form-group {
    padding: 25px 0px;
}

.form-size-style .btn-style{
    text-align: center;
    margin-bottom: 50px;
}

#additional-info {
    height: 150px;
}

.btn-style button {
    font-size: 18px;
    border: 2px;
    border-style: solid;
    border-radius: 10%;
}

/* -------------Footer----------------- */

.footer-style-container {
    text-align: center;
    padding: 25px 5px 5px;
}

.footer-style-container h4 {
    color: #000000;
}

.footer-style-container i{
    display: block;
    text-align: center;
}

.footer-style-container a{
    display: inline-block;
    text-align: center;
    padding: 10px 20px; 
    font-size: 16px; 
}

.footer-style-container .footer-travel-links{
    display: block;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color:#00acee;
}

.fa-instagram{
    color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

/* -------------Media Queries----------------- */


@media screen and (min-width: 0px) and (max-width: 990px){
    .header-desktop-container{
        display: none;
    }
}

@media screen and (min-width: 990px){
    .header-mobile-container{
        display: none;
    }
}