


img{
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

.uppercase{
    text-transform: uppercase;
}

.headline-banner{
    display: table;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 80px;
}

.headline-banner h3{
    display: table-cell;
    vertical-align: middle;
}

/* -------------Colors----------------- */

body {
    background-color: #e6e8eb;
}

.bg-color-header {
    background-color: #b8b8b8;
}

.bg-color-banner-intro{
    background-image: radial-gradient(orange, #e6e8eb );
}

.bg-color-footer {
    background-color: #b8b8b8;
}

.bg-color-why-visit {
    background-color: red;
}

.bg-color-banner-easter {
    background-color: #faa805;
}

.bg-color-banner-places {
    background-color: #0511fa;
    
}

.bg-color-banner-summer {
    background-color: #9e05f7;
    
}

/* -------------Header----------------- */

/* -------------Desktop Header----------------- */
.header-desktop{
    height: 200px; 
}

.greek-flag{
    background: url(../images/greek-flag.png);
}

.corfu-flag{
    background: url(../images/corfu-flag.png);
}

.greek-flag,
.corfu-flag {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 180px;
    margin: auto;
    display: block;
    margin-top: 40px;
}

.logo-desktop{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
}

.nav{
    justify-content: center;
    height: 50px;
    width: 100%;
}

.navbar {
    padding: 0;
}

/* -------------Mobile Header----------------- */

.logo-mobile{
    margin-left: 15%;
    float: left;
    display: block;
    height: 100px;
    width: 100px;
}

.nav-mobile{
    float: left;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-menu{
    left: -50px;
}

.nav-mobile{
    margin-top: 20px;
}


/* -------------Hero and Into----------------- */

.hero-container{
    padding: 0;
}

/* -------------Why Visit----------------- */


/* -------------Check out----------------- */

.link-banner {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.size-image-link{
    display: inline-block;
    float: left;
    width: 100%;
    height: 220px;
    background-size: cover;
}


/* -------------Footer----------------- */

.footer-style-container {
    text-align: center;
    padding: 5px;
}

.footer-style-container i{
    display: block;
    text-align: center;
}

.footer-style-container a{
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    
}

.footer-style-container .footer-travel-links{
    display: block;
}





/* -------------Media Queries----------------- */


@media screen and (min-width: 0px) and (max-width: 767px){
    .header-desktop-container{
        display: none;
    }
}

@media screen and (min-width: 768px){
    .header-mobile-container{
        display: none;
    }
}