


img{
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

.uppercase{
    text-transform: uppercase;
}

.headline-banner{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* -------------Colors----------------- */

body {
    background-color: #e6e8eb;
}

.bg-color-banner-intro{
    background-color: #c9daf5;
}

/* -------------Header----------------- */

/* -------------Desktop Header----------------- */
.header-desktop{
    height: 200px; 
}

.greek-flag{
    background: url(../images/greek-flag.png);
}

.corfu-flag{
    background: url(../images/corfu-flag.png);
}

.greek-flag,
.corfu-flag {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 180px;
    margin: auto;
    display: block;
    margin-top: 40px;
}

.logo-desktop{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
}

.nav{
    justify-content: center;
    height: 50px;
    width: 100%;
}

.navbar {
    padding: 0;
}

/* -------------Mobile Header----------------- */

.logo-mobile{
    margin-left: 15%;
    float: left;
    display: block;
    height: 100px;
    width: 100px;
}

.nav-mobile{
    float: left;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-menu{
    left: -50px;
}

.nav-mobile{
    margin-top: 20px;
}


/* -------------Hero and Into----------------- */


/* -------------Why Visit----------------- */


/* -------------Check out----------------- */

.link-offset-1.5{
    margin-left: 12.5%;
}

/* -------------Footer----------------- */

.footer-style-container {
    text-align: center;
    padding: 5px;
}

.footer-style-container i{
    display: block;
    text-align: center;
}

.footer-style-container a{
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    
}

.footer-style-container .footer-travel-links{
    display: block;
}





/* -------------Media Queries----------------- */


@media screen and (min-width: 0px) and (max-width: 767px){
    .header-desktop-container{
        display: none;
    }
}

@media screen and (min-width: 768px){
    .header-mobile-container{
        display: none;
    }
}